title: Home

{% extends "base.html" %}
{% block content %}
<div class="github-fork-ribbon-wrapper">
    <div class="github-fork-ribbon">
        <a href="https://github.com/yhat/ggplot" target="_blank">Fork me on GitHub</a>
    </div>
</div>
    
    <p><code>ggplot</code> is a plotting system for Python based on R's <a href="http://ggplot2.org/"><code>ggplot2</code></a> and the <i><a href="http://www.amazon.com/Grammar-Graphics-Statistics-Computing/dp/0387245448">Grammar of Graphics</a></i>. It is built for 
    making profressional looking, plots quickly with minimal code.
    </p>

    <h2><code>ggplot</code> is easy to learn</h2>
    <pre class="prettyprint">
from ggplot import *

ggplot(aes(x='date', y='beef'), data=meat) +\
    geom_line() +\ 
    stat_smooth(colour='blue', span=0.2)
</pre>
    <img src="{{ STATIC_URL }}/img/meat_smooth.png" height="500px">

    <h2><code>ggplot</code> is fun</h2>
<pre class="prettyprint">
ggplot(diamonds, aes(x='carat', y='price', color='cut')) +\
    geom_point() +\
    scale_color_brewer(type='diverging', palette=4) +\
    xlab("Carats") + ylab("Price") + ggtitle("Diamonds")
</pre>
    <img src="{{ STATIC_URL }}/img/pretty_example.png" height="500px">

    <h2><code>ggplot</code> is powerful</h2>
<pre class="prettyprint">
ggplot(diamonds, aes(x='price', fill='cut')) +\
    geom_density(alpha=0.25) +\
    facet_wrap("clarity")</pre>
    <img src="{{ STATIC_URL }}/img/density_example.png" height="500px">

    <footer>
        &copy; 2014 <a href="http://yhathq.com" target="_blank">&#375;hat</a>
    </footer>

{% endblock %}
